apiVersion: v1
kind: Service
metadata:
  name: "{{ .Chart.Name }}-{{ .Values.backend.name }}"
  namespace: "{{ .Values.namespace }}"
  labels:
    chart: "{{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}"
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.externalPort }}
    targetPort: {{ .Values.service.internalPort }}
    protocol: TCP
  selector:
    app: "{{ .Chart.Name }}-{{ .Values.backend.name }}"