replicaCount: 1
namespace: playstack
repository: localhost:5001
environment: dev

backend:
  name: backend
  image: playstack/backend
  imagePullPolicy: Always
  configMapRef: 
    - backend
  secretRef:
    - basicauth
    - database
    - aws
    - cognito
    - s3

service:
  type: ClusterIP
  internalPort: 8080
  externalPort: 8080

transcoder:
  name: transcoder
  image: playstack/transocder
  imagePullPolicy: Always

  maxReplicaCount: 3
  pollingInterval: 5
  successfulJobsHistoryLimit: 2
  failedJobsHistoryLimit: 5

  trigger: 
    type: aws-sqs-queue
    queueURL: https://sqs.ap-south-1.amazonaws.com/123/transcode
    queueLength: 1
    awsRegion: ap-south-1
  secretRef:
    - aws

  triggerAuthorization:
    name: aws-auth
    secretTarget: aws
  
  requests:
    cpu: "250m"
    memory: "250Mi"
  limits:
    cpu: "1"
    memory: "500Mi"

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

podAnnotations: {}
podLabels: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext:
  capabilities:
    drop:
    - ALL
  readOnlyRootFilesystem: true
  runAsNonRoot: true
  runAsUser: 1000

httpRoute:
  enabled: false
  annotations: {}
  parentRefs:
  - name: gateway
    sectionName: http
  hostnames:
  - chart-example.local
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: /headers
  #   filters:
  #   - type: RequestHeaderModifier
  #     requestHeaderModifier:
  #       set:
  #       - name: My-Overwrite-Header
  #         value: this-is-the-only-value
  #       remove:
  #       - User-Agent
  # - matches:
  #   - path:
  #       type: PathPrefix
  #       value: /echo
  #     headers:
  #     - name: version
  #       value: v2

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 512Mi


livenessProbe:
  httpGet:
    path: /health/liveness
    port: 8080
readinessProbe:
  httpGet:
    path: /health/readiness
    port: 8080

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80

volumes: []
  # - name: foo
  #   secret:
  #     secretName: mysecret
  #     optional: false

volumeMounts: []
  # - name: foo
  #   mountPath: "/etc/foo"
  #   readOnly: true

nodeSelector: {}

tolerations: []

affinity: {}
